
@font-face {
  font-family: 'Manrope';
  src: url('/Manrope/static/Manrope-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('/Manrope/static/Manrope-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('/Manrope/static/Manrope-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}



