@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-tippy/dist/tippy.css';



/* styles/globals.css */
@keyframes underlineAnimation {
  from {
    background-size: 0% 2px;
    background-position: 0% 100%;
  }

  to {
    background-size: 100% 2px;
    background-position: 100% 100%;
  }
}

.underline-hover-left-to-right:hover {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(white, white);
  background-repeat: no-repeat, repeat-x;
  background-size: 0% 2px, 100% 2px;
  background-position: 0% 100%, 100% 100%;
  animation: underlineAnimation 2s ease-in-out forwards;
}


.bg-banner1,
.bg-banner,
.bg-banner3 {
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.bg-banner1:hover,
.bg-banner:hover,
.bg-banner3:hover {
  transform: scale(1.05);
}

.bg-banner1,
.bg-banner,
.bg-banner3 {
  overflow: hidden;
  /* Clip content that exceeds the container */
}

.bg-banner1 {
  background: url('https://minimog-4437.kxcdn.com/supergear/wp-content/uploads/sites/2/2022/02/home-banner-01.jpg');
  height: 260px;
}

.bg-banner {
  background: url('https://minimog-4437.kxcdn.com/supergear/wp-content/uploads/sites/2/2022/02/home-banner-02.jpg');
  height: 260px;
}

.bg-banner3 {
  background: url('https://minimog-4437.kxcdn.com/supergear/wp-content/uploads/sites/2/2022/02/home-banner-03.jpg');
  height: 260px;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-ellipsise {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-ellipsisis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}

.icon {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.icon:hover {
  background-color: black;
  color: white;
}

.text {
  opacity: 0;
  transition: opacity 0.3s;
}

.icon:hover .text {
  opacity: 1;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fast {
  font-size: 14px;
  font-weight: 600;
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
}

.active-thumbnail {
  border-color: black;
}

.faq-item {
  overflow: hidden;
}

.faq-item.open .faq-content {
  max-height: 200px;
}

.faq-content {
  max-height: 10px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

/* CustomScrollbar.css */

.custom-scrollbar {
  max-height: 540px;
  /* Set a maximum height for the scrollbar container */
  overflow-y: auto;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  position: relative;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  /* Thumb color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Track color */
  border-radius: 4px;
}

/* Positioning the scrollbar on the right side */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  /* Thumb color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Track color */
  border-radius: 4px;
}

/* Positioning the scrollbar on the right side */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  /* Thumb color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Track color */
  border-radius: 4px;
}

/* Positioning the scrollbar on the right side */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  /* Thumb color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Track color */
  border-radius: 4px;
}



/* Add this CSS to your styles */
.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.dropdown-menu.open {
  max-height: 660px;
  /* Adjust the max-height as needed */
}


.custom-Scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-Scroll::-webkit-scrollbar-track {
  background: #cacaca;
}

.custom-Scroll::-webkit-scrollbar-thumb {
  background-color: rgb(173, 170, 170);
  border-radius: 7px;
  border: 3px solid #141414;
  width: 12px;
}


.active-thumbnail-image {
  border: 1px solid rgb(173, 170, 170) !important;
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #797676;
  animation: loading 3s linear infinite;
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.relative {
  position: relative;
}

.overflow-x-auto {
  overflow-x: auto;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #FBFBFB;
  z-index: 2;
}

th[scope="row"] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: #F8F8F8;
  z-index: 1;
}
